.transactions-list {
	list-style: none;

	.transactions-list-item {
		height: 35px;
		padding: 10px;
		margin: 5px 0;
		font-size: 14px;
		overflow: hidden;
		box-sizing: border-box;
		border-radius: 5px;

		box-shadow: 1px 1px 3px #00000044;

		display: flex;

		cursor: pointer;
		transition: height 0.4s ease, font-size 0.6s ease;

		.left {
			text-align: left;
			flex: 1;
		}
		.right {
			min-width: 100px;
		}

		label {
			display: none;
			margin-bottom: 3px;
			font-size: 11px;
			color: #888;
		}

		&.debit {
			background: #cff7cf;
		}

		&.credit {
			background: #ffdfdf;

			.amount::before {
				content: '-';
			}
		}

		&.expanded {
			height: 100px;
			font-size: 16px;

			label {
				display: block;
			}
			.amount {
				transition: inherit;
				font-size: 22px;
			}
			.date {
				margin-bottom: 10px;
			}
		}
		
		
		.id {
			color: #666;
			font-size: 15px;
		}
	}
}
